.listContainer1 {
  background-color: #272727;
  list-style-type: none;
  border-radius: 06px;
  padding: 20px;
  margin-bottom: 14px;
  margin: 0px;
  width: 280px;
  height: 320px;
  margin-left: 0px;
  margin-top: 20px;
}
@media (min-width: 700px) {
  .listContainer1 {
    background-color: #272727;
    list-style-type: none;
    border-radius: 06px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 360px;
    height: 360px;
  }
}
